org.nuxeo.ecm.directory.types.contrib/directoryschema/user.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/user"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/user">

  <xs:include schemaLocation="base.xsd" />

  <xs:element name="name" type="xs:string" />
  <xs:element name="pass" type="xs:string" />
  <xs:element name="firstname" type="xs:string" />
  <xs:element name="lastname" type="xs:string" />
  <xs:element name="office" type="xs:string" />
  <xs:element name="emailaddress1" type="xs:string" />

  <!-- inverse reference 
  <xs:element name="groups" type="nxs:stringList" />-->

</xs:schema>


